@charset "UTF-8";

/*Typical Device Breakpoints
-----------------------------
Celulares pequenos: até 600px
Celulares maiores: de 600px até 768px
Tablet: de 768px até 992px
Desktop, notebooks: de 992px até 1200px
Grandes monitores, tvs e etc: acima de 1200px 
*/

@media print { /*Impressão*/

}

@media screen and (min-width: 768px){ /*Tablets*/
    #burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu li{
        display: inline-block;
    }

    menu a{
        border: none;
    }
    main {
        min-width: 730px;
        max-width: 768px;
    }
}

@media screen and (min-width:992px){ /*notebook, desktop*/
    
}

@media screen and (min-width: 1200px) { /*Grandes monitores, desktop e etc*/
    
}
